body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
#contenedor{
    width: 70%;
    margin: 0 auto;
}
.caja{
    display: block;
    width: 300px;
    height: 100px;
    background-color: orange;
    padding: 1em;
    box-sizing: border-box;
}
#transicion1:hover{
    width: 500px;
    background-color: red;
}
#transicion1{
    transition: 1s;
    /* transition-delay: 1s; */
}
#transicion2:hover{
    width: 500px;
    height: 500px;
    background-color: blue;
}
#transicion2{
    transition: 10s, width 1s, height 3s;
}
#transicion3:hover{
    width: 700px;
    background-color: green;
}
#transicion3{
    transition: 1s;
    transition-timing-function: ease-in;
}
#box{
    display: block;
    width: 100%;
    height: 150px;
    background-color: aquamarine;
    font-size: 0;
}
.barra{
    display: inline-block;
    width: 5%;
    height: 50px;
    background-color: blue;
    margin-top: 100px;
    transition: 0.3s;
    transition-timing-function: ease-out;
}
.barra:hover{
    height: 140px;
    margin-top: 10px;
}
#espacio{
    display: block;
    width: 600px;
    height: 600px;
    background-color: black;
    position: relative;
    overflow: hidden;
}
#espacio img{
    width: 20%;
    position:absolute;
    bottom: 0;
    left: 40%;
    transition: 1s;
}
#espacio:hover img{
    bottom: 600px;
}
#banner{
    display: block;
    width: 300px;
    height: 600px;
    position: relative;
    background-color: cyan;
    overflow: hidden;
}
#banner img{
    width: 350px;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: 1s;
    transition-delay: 1s;
}
#banner h1{
    position: absolute;
    left: -150px;
    top: 30px;
    transition: 1s;
}
#banner h2{
    position: absolute;
    right: -150px;
    top: 100px;
    transition: 1s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in-out;
}
#banner a{
    position: absolute;
    left: -100px;
    top: 200px;
    transition: 1s;
    transition-delay: 1s;
}
#banner:hover h1{
    left: 90px;
}
#banner:hover h2{
    right: 90px;
}
#banner:hover a{
    left: 100px;
}
#banner:hover img{
    opacity: 1;
}