body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#contenedor{
    width: 80%;
    margin: 0 auto;
}
#txt1{
    font-size: 24px;
}
.caja{
    display: inline-block;
    box-sizing: border-box;
    margin: 16px;
    padding: 16px;
}
#caja1{
    width: 500px;
    height: 250px;
    background-color: green;
}
#txt2{
    color: blue;
    font-size: 1.5em;
}
#txt2 span{
    font-size: 2em;
}
#txt3{
    color: red;
    font-size: 2rem;
}
#txt3 span{
    font-size: 1rem;
}
#txt4{
    color: green;
    font-size: 150%;
}
#txt4 span{
    font-size: 150%;
}
#txt5{
    color: purple;
    font-size: 4vw;
}
#txt5 span{
    font-size: 2vw;
}
#caja2{
    background-color: aqua;
    width: 18em;
}
#caja3{
    background-color: yellow;
    width: 30%;
}
#caja4{
    background-color: chocolate;
    width: 30vw;
}
#caja5{
    background-color: magenta;
    width: 50%;
    max-width: 300px;
}
#caja6{
    background-color: cyan;
    width: 50%;
    min-width: 300px;
}
#caja7{
    background-color: brown;
    height: 100px;
    width: 50%;
}
#subcaja7{
    background-color: green;
    height: 50px;
    width: 70%;
}