body{
    margin: 0;
    background-color: #232323;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#contenedor{
    background-color: white;
    width: 70vw;
    margin: 0 auto;
    min-height: 100vh;
}
header{
    font-size: 2em;
    padding: 2rem;
    font-weight: 600;
}
nav{
    background-color: #424242;
    position: sticky;
    top: 0;
}
nav a{
    padding: 1em;
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}
nav a:hover{
    background-color: #232323;
}
main, section, footer{
    padding: 2rem;
}
footer{
    background-color: #424242;
    color: white;
    font-weight: 600;
}
#subir{
    display: block;
    background-color: white;
    padding: 1em;
    position: fixed;
    right: 1em;
    bottom: 1em;
    cursor: pointer;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
    opacity: 0.4;
    transition: 1s;
    color: black;
    text-decoration: none;
}
#subir:hover{
    opacity: 1;
}
#galeria{
    padding: 2rem;
    font-size: 0;
}
#galeria div{
    display: inline-block;
    width: 20%;
    padding: 0.5rem;
    box-sizing: border-box;
}
#galeria div img{
    width: 100%;
}
#galeria div img:hover{
    transform: scale(155%);
    cursor: pointer;
    border: 6px solid white;
    border-bottom: 12px solid white;
    box-sizing: border-box;
    box-shadow: 1px 1px 15px black;
}