*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
  max-width: 300px;
}
form{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
  background-color: aqua;
}