body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#contenedor{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
#sombraTxt1{
    font-size: 42px;
    font-weight: 600;
    text-shadow: -6px 6px 4px rgba(0, 0, 0, 0.4);
}
#sombraTxt2{
    font-size: 42px;
    font-weight: 600;
    text-shadow: 0 0 5px red, 3px 3px 4px orange;
}
.box{
    display: inline-block;
    width: 300px;
    background-color: orange;
    padding: 16px;
    margin: 16px;
}
#sombraCaja1{
    box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.4);
}
#sombraCaja2{
    box-shadow: 3px 3px red, 6px 6px purple, 9px 9px blue, 12px 12px green;
}
#sombraCaja3{
    box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.4) inset;
}
#sombraCaja4{
    background-color: white;
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.3);
}
#opacidad2{
    transform: translate(-120px, 20px);
    opacity: 0.5;
}
#redimensionar{
    resize: both;
    overflow: auto;
}