*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2em;
    background-color: lightslategray;
}
h1{
    border-bottom: 2px solid black;
}
.res{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    width: fit-content;
}
.res img{
    max-width: 700px;
}
button{
    width: fit-content;
    padding: 0.5em;
}
#nombre{
    width: 16em;
    padding: 0.3em;
}